@import 'tailwindcss';

@theme {
  --font-title: 'Montserrat Variable', sans-serif;
  --font-sans: 'Montserrat Variable', sans-serif;
  --color-red: #f92905;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-dark: #4d4d4d;
  --color-grey-light: #7e807f;
}

/* Hide horizontal scrollbar */
html,
body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font-sans);
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Cenetr tailwind container and add padding */
.container {
  margin: 8rem auto;
  max-width: 1350px;
  margin: 0 auto;
  padding: 4rem 1rem;
}

/* Debug border */
.debug {
  border: 1px solid red;
}

/* Remove margin and padding from paragraphs */
p {
  margin: 0;
  padding: 0;
}

/* Set title font to heading elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

/* Custom scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-red);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-grey-dark);
}
