---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/organisms/Hero.astro'
import AboutCard from '../components/organisms/AboutCard.astro'
import PageSEO from '../components/utils/PageSEO.astro'
---

<Layout title='About'>
  <PageSEO
    currentPage='About'
    pageDescription='About Mar Co. CABO'
    extraKeywords='about, mar co. cabo, los cabos, baja california sur, mexico, vacation packages, luxury transportation, airport transfers, private tours, car service, luxury cars, limousine service, luxury limousines, luxury cars for rent, luxury cars for sale, luxury cars for hire, luxury cars for lease, luxury cars for rent, luxury cars for sale, luxury cars for hire, luxury cars for lease'
  />
  <Hero
    title='About Us'
    image='/images/about-hero.webp'
    description=''
  />
  <AboutCard
    image='/images/about/family-vacation.webp'
    imageAlt='About'
  >
    <h2
      class:list={[
        'text-3xl',
        'lg:text-4xl',
        'font-bold',
        'text-center',
        'mb-8',
        'tracking-wide',
      ]}
    >
      Beyond Transportation
    </h2>
    <p
      class:list={[
        'text-grey-dark',
        'text-lg',
        'leading-relaxed',
        'text-justify',
        'lg:text-left',
      ]}
    >
      At marco-cabo.com, we believe that the journey to your Los Cabos adventure
      should be as memorable as the destination itself. With over 27 years of
      dedicated experience in this beautiful region, we founded our company for
      travelers who crave authentic, unforgettable experiences.
    </p>
  </AboutCard>
  <!-- second section -->
  <section class:list={['container', 'py-8']}>
    <div
      class:list={[
        'bg-grey-dark',
        'rounded-2xl',
        'p-8',
        'lg:p-12',
        'text-white',
        'shadow-lg',
        'max-w-[700px]',
        'mx-auto',
        'lg:max-w-full',
      ]}
    >
      <h2
        class:list={[
          'text-3xl',
          'lg:text-4xl',
          'font-bold',
          'text-center',
          'mb-6',
          'tracking-wide',
        ]}
      >
        Crafting Your Perfect Journey
      </h2>

      <p
        class:list={[
          'text-lg',
          'leading-relaxed',
          'mb-8',
          'text-center',
          'lg:text-left',
        ]}
      >
        We specialize in crafting seamless ground transportation experiences
        that leave you with compelling stories and lifelong memories. More than
        just transfers, we offer peace of mind from the moment you arrive.
      </p>

      <h3 class:list={['text-xl', 'font-bold', 'mb-4', 'text-white']}>
        Our Commitment to You:
      </h3>

      <ul class:list={['space-y-6']}>
        <li class:list={['flex', 'items-start', 'gap-3']}>
          <span
            class:list={[
              'mt-2',
              'min-w-[6px]',
              'h-[6px]',
              'rounded-full',
              'bg-white',
            ]}></span>
          <p class:list={['text-lg', 'leading-relaxed']}>
            <span class:list={['font-bold']}
              >Personalized Service Excellence:</span
            > We are committed to working closely with you from initial planning
            to the final detail of your vacation. We offer insightful suggestions
            and innovative ideas along the way.
          </p>
        </li>
        <li class:list={['flex', 'items-start', 'gap-3']}>
          <span
            class:list={[
              'mt-2',
              'min-w-[6px]',
              'h-[6px]',
              'rounded-full',
              'bg-white',
            ]}></span>
          <p class:list={['text-lg', 'leading-relaxed']}>
            <span class:list={['font-bold']}
              >Local Expertise Meets Your Vision:</span
            > Our approach seamlessly merges your personal interests with our extensive
            local expertise to create a customized itinerary that perfectly reflects
            your style and desires. Share with us the type of Cabo adventure you
            envision, and we will meticulously plan every detail to bring it to life!
          </p>
        </li>
        <li class:list={['flex', 'items-start', 'gap-3']}>
          <span
            class:list={[
              'mt-2',
              'min-w-[6px]',
              'h-[6px]',
              'rounded-full',
              'bg-white',
            ]}></span>
          <p class:list={['text-lg', 'leading-relaxed']}>
            <span class:list={['font-bold']}>Safety & Comfort First:</span> Travel
            with confidence in our late-model, clean, well-maintained, and air-conditioned
            vehicles. Our professional, fully licensed, and courteous drivers ensure
            a safe, comfortable, and timely transfer to your hotel, resort, or private
            venue.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <!-- Third section -->
  <AboutCard
    image='/images/about/sunset.webp'
    imageAlt='Cabo Arch'
    reverse={true}
  >
    <h2
      class:list={[
        'text-3xl',
        'lg:text-4xl',
        'font-bold',
        'text-center',
        'mb-8',
        'tracking-wide',
        'leading-tight',
      ]}
    >
      Experience the<br />
      MarCo.- Cabo Difference
    </h2>

    <p
      class:list={[
        'text-grey-dark',
        'text-lg',
        'leading-relaxed',
        'text-justify',
        'mb-6',
      ]}
    >
      With nearly three decades of trusted service, we understand and deliver
      ground transportation managed to perfection. We proactively work to ensure
      a flawless service for every client, whether you require airport
      transfers, point-to-point service, or specialized tours.
    </p>

    <p class:list={['text-grey-dark', 'text-lg', 'mb-4']}>We proudly offer:</p>

    <ul class:list={['space-y-2', 'mb-6', 'pl-4']}>
      <li class:list={['text-grey-dark', 'text-lg', 'flex', 'gap-2']}>
        <span class:list={['font-bold']}>•</span>
        Extensive Experience & Unmatched Local Knowledge
      </li>
      <li class:list={['text-grey-dark', 'text-lg', 'flex', 'gap-2']}>
        <span class:list={['font-bold']}>•</span>
        Professional, Courteous, and Reliable Drivers
      </li>
      <li class:list={['text-grey-dark', 'text-lg', 'flex', 'gap-2']}>
        <span class:list={['font-bold']}>•</span>
        A Fleet Focused on Luxury, Comfort, and Safety
      </li>
      <li class:list={['text-grey-dark', 'text-lg', 'flex', 'gap-2']}>
        <span class:list={['font-bold']}>•</span>
        Competitive Rates with an Unwavering Commitment to Exceeding Expectations
      </li>
    </ul>

    <p
      class:list={[
        'text-grey-dark',
        'text-lg',
        'leading-relaxed',
        'text-justify',
      ]}
    >
      Let marco-cabo.com be the trusted partner for your transportation needs.<br
      />
      We look forward to showing you the best of Los Cabos!
    </p>
  </AboutCard>
</Layout>
