---
// Estandar size for all h2 elements

// DUMMY COMPONENT: DELETE OR UPDATE IT

// Libs
import clsx from 'clsx'

// Props
interface Props {
  className?: string
}

// Default props
const { className } = Astro.props as Props
---

<h1
  class={clsx(
    'text-4xl lg:text-5xl',
    'font-bold',
    className
  )}
>
  <slot />
</h1>
