---


interface Props {
  className?: string;
}

let {className} = Astro.props;
if (!className) {
  className = '!h-10 !w-auto';
}
---

<a
  href="/"
  class:list={['flex','items-center', 'hover:scale-105', 'hover:opacity-50','transition-all duration-300']}
>
  <div
    class:list={[
      'flex items-center justify-center',
      'px-8 py-3',
      'rounded-[20px]',
    ]}
  >
    <img
      src="/images/logo.png"
      alt="Cabo Logo"
      class:list={[
        className,
        'object-contain',
      ]}
    />
  </div>
</a>

