---
// Secondary menu with dunamic content from props
---

<div>
  <h3>Menu</h3>
  <nav>
    <ul>
      <li>
        <a href='/'>Home</a>
      </li>
      <li>
        <a href='/about'>About</a>
      </li>
      <li>
        <a href='/booking'>Booking</a>
      </li>
    </ul>
  </nav>
</div>
