---
// Secondary menu with dunamic content from props
import H3 from '../atoms/H3';
---

<div>
  <H3 client:load>Menu</H3>
  <nav>
    <ul>
      <li>
        <a href='/'>Home</a>
      </li>
      <li>
        <a href='/about'>About</a>
      </li>
      <li>
        <a href='/booking'>Booking</a>
      </li>
    </ul>
  </nav>
</div>
