---
// Components
import ServiceDetails from '../atoms/ServiceDetails.tsx'
import H2 from '../atoms/H2'
---

<article>
  <H2 client:load>
    <Price client:load />
  </H2>

  <ServiceDetails client:load />
</article>
