---
//  components
import DestinationSelect from '../molecules/DestinationSelect'
import getHotelsData from '../../libs/api/hotels'
import getPostalCodes from '../../libs/api/postal-codes'

interface Props {
  className?: string
}

const { className } = Astro.props as Props

const hotelsData = await getHotelsData()

const hotels = hotelsData.results as HotelsDataType[]

const hotelData: HotelDataType[] = []
if (hotels && Array.isArray(hotels)) {
  hotels.forEach((hotel) => {
    if (hotel.locations && Array.isArray(hotel.locations)) {
      hotel.locations.forEach((location) => {
        hotelData.push({
          id: location.id,
          name: location.name,
          hotelName: hotel.name,
        })
      })
    }
  })
}

const postalCodes = await getPostalCodes()
const postalCodesData = postalCodes.results as PostalCodesType[]
---

<section class:list={['container', '', className]}>
  <DestinationSelect
    client:only="react"
    hotelData={hotelData}
    postalCodesData={postalCodesData}
  />
</section>
