---
//  components
import DestinationSelect from "../molecules/DestinationSelect"
import getHotelsData from "../../libs/api/hotels"

interface Props {
    className?: string
}

const { className } = Astro.props as Props

const hotelsData = await getHotelsData()

const hotels = hotelsData.results as HotelsDataType[]

console.log(hotels)
const hotelData: HotelDataType[] = []
hotels.forEach(hotel => {
    hotel.locations.forEach(location => {
        hotelData.push({
            id: location.id,
            name: location.name,
            hotelName: hotel.name
        })
    })
})


console.log(hotelData)


---

<section class:list={[
    'container',
    '!py-2',
    className
]}>
<DestinationSelect client:load hotels={hotelData}/>
</section>
