---
//  components
import H2 from "../atoms/H2.astro"
import DestinationSelect from "../molecules/DestinationSelect"
import clsx from "clsx"

interface Props {
    className?: string
}

const { className } = Astro.props as Props

---

<section class:list={[
    'container',
    className
]}>
<H2 className={clsx("text-center mb-12")}>Tap or Click to select your destination</H2>
<DestinationSelect client:load/>

</section>
