---
// Libs
import clsx from 'clsx'

// Full width section, check https://docs.apps.darideveloper.com/frontend/container/
---

<section
  class={clsx('w-full')}
  id='hero'
>
  <div class={clsx('container')}></div>
</section>
