---
// Libs
import clsx from 'clsx'

// Full width section, check https://docs.apps.darideveloper.com/frontend/container/
---

<section
  class:list={[
    'w-screen',
    'h-[75vh]',
    'bg-no-repeat  bg-center bg-cover',
  ]}
  style="background-image: url('/images/escalade-gris.webp');"
  id='hero'
>
  <div class={clsx('container')}></div>
</section>
