---
// Libs
import clsx from 'clsx'

// Components
import H1 from '../atoms/H1.astro'

interface Props {
  title: string
  description?: string
  image?: string
}

const { title, description, image } = Astro.props as Props
---

<section
  class:list={[
    'w-screen',
    'lg:h-screen',
    'bg-no-repeat',
    'bg-cover',
    'bg-center',
    'relative',
  ]}
  style={`background-image: url('${image}');`}
  id='hero'
>
  <!-- Dark overlay for mobile -->
  <div class='absolute inset-0 bg-black/60 z-0'></div>

  <div
    class={clsx(
      'container',
      'flex flex-col justify-center items-center',
      'h-full',
      'gap-4',
      'relative z-10'
    )}
  >
    <div
      class={clsx(
        'text-center',
        'mt-[100px]',
        'lg:mt-0',
        'text-white',
        'max-w-2xl'
      )}
    >
      <div
        data-aos='fade-up'
        class={clsx('h1-wrapper')}
      >
        <H1 className='py-12 text-white'>
          {title}
        </H1>
      </div>
      {
        description && (
          <p
            class='text-xl'
            data-aos='fade-up'
            data-aos-delay='1000'
          >
            {description}
          </p>
        )
      }
    </div>
  </div>
</section>
