---
//  components
import InfoCardsComponent from '../molecules/InfoCards'
import CheckoutButton from '../molecules/CheckoutButton'
import GoogleReviews from '../molecules/GoogleReviews.astro'
---

<section id="pricing-section" class:list={['container', '']}>
  <InfoCardsComponent client:load />

  <div class='flex justify-center mt-6'>
    <CheckoutButton client:load />
  </div>

  <GoogleReviews />
</section>
