---
//  components
import InfoCardsComponent from '../molecules/InfoCards'
import ButtonSubmit from '../atoms/ButtonSubmit'
---

<section class:list={['container', '']}>
  <InfoCardsComponent client:load />

  <div class='flex justify-center mt-6'>
    <ButtonSubmit
      client:load
    />
  </div>
</section>
