---
//  components
import H2 from '../atoms/H2'
import VehicleSelect from '../molecules/VehicleSelect'
import getVehicles from '../../libs/api/vehicles'

const vehicles = await getVehicles()
const vehiclesArray = vehicles.results as VehicleType[]
---

<section class:list={['container', '']}>
  <H2
    client:load
    className='text-center py-8'
  >
    Tap or Click to select your preferences
  </H2>
  <VehicleSelect
    client:load
    vehiclesArray={vehiclesArray}
  />
</section>
