---
// Fonts
import '@fontsource-variable/montserrat'

// Styles
import '../styles/global.css'

// Components
import Header from '../components/organisms/Header.astro'
import Footer from '../components/organisms/Footer.astro'
import WhatsAppButton from '../components/molecules/WhatsAppButton.astro'

// Utils
import AOSInit from '../components/utils/AOSinit'

interface Props {
  title?: string
  description?: string
}
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <meta
      name='theme-color'
      content='#F92905'
    />
    <meta
      name='format-detection'
      content='telephone=yes'
    />
    <meta
      name='mobile-web-app-capable'
      content='yes'
    />
    <meta
      name='apple-mobile-web-app-capable'
      content='yes'
    />
    <meta
      name='apple-mobile-web-app-status-bar-style'
      content='black-translucent'
    />
    <link
      rel='icon'
      type='image/x-icon'
      href='/favicon.ico'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <link
      rel='apple-touch-icon'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src='https://www.googletagmanager.com/gtag/js?id=G-0ZCDV77MYP'
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-0ZCDV77MYP')
    </script>

    <!-- Umami Analytics -->
    <script
      is:inline
      defer
      src='https://umami.apps.darideveloper.com/script.js'
      data-website-id='906e454d-4243-490c-b682-03abbc3d05ba'
    ></script>
    <slot name='seo' />
  </head>
  <body>
    <!-- AOS Init -->
    <AOSInit client:load />

    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <WhatsAppButton />
  </body>
</html>
